.quantity-container{
    padding:20px;
}

.bold{
    font-weight:bold;
}

table,th,td{
    border:2px solid white;
    border-collapse: collapse;
    text-align:center;
}

th{
    height:50px;
    background-color:#cfd8dc;
    position:sticky;
    top:0
}
td{
    height:35px;
    background-color:lightblue;
}
td input {
  width: 30%;
  box-sizing: border-box;
  text-align:center;
  border:1px solid black;
  height:35px;
}

.table-container{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    width:100%;
}
.error-msg {
    color:red;
}
.unfilled-values{
    text-align:center;
    margin-top:15px;
    width:100%;
}

